body{
 display: flex;
}

.form{
    min-width: 200px;
    margin-right: 50px;
}
.form li{
    list-style: none;
}
.card__list{
    display: flex;
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card__items{
    margin: 0;
    padding: 0;
    width: 290px;
    margin-right: 50px;
    text-align: center;

}
.card__items p {
    font-weight: 600;
}

.card__templates{
    display: none;
}
.card__span{
    font: 600 18px monospace;
    color: #3655B5;
}
.error{
    font:600 25px monospace;
    color: #B60000;
}
@media (max-width:564px){
    body{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card__list{
        justify-content: center;
    }
    
}