<div class="modal">
    <div class="modal__wrapper">
    <img src="{{url}}" alt="" class="modal__img" id="{{id}}">
    <nav class="modal__nav">
        <div class="modal__nav--wrapper">
    <button class="modal__button modal__button--preview" data-type="preview"></button>
    <button class="modal__button modal__button--next" data-type="next"></button>
    </div>
    <button class="modal__button modal__button--choise" data-type="choise"></button>
    <button class="modal__button modal__button--close" data-type="close"></button>
    </nav>
    </div>
</div>